#### 1.Импортировать pandas. Проверить размер таблицы, типы переменных, а затем записать первые 7 строк, чтобы посмотреть на данные.

In [2]:
import pandas as pd

In [3]:
bookings = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-b-dzhumaeva-37/shared/homeworks/python_ds_miniprojects/2/bookings.csv', sep = ';')

In [13]:
bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Небольшая предобработка данных

In [6]:
bookings.shape

(119390, 21)

In [9]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

#### 2. Привести названия колонок к нижнему регистру и заменить пробелы на знак нижнего подчеркивания.

In [14]:
bookings = bookings.rename(columns=lambda col: col.replace(" ", "_").lower())
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [15]:
#def replace_space_with_star(name):
#    new_name = name.replace(' ', '_').lower()
#    return new_name
#bookings = bookings.rename(columns=replace_space_with_star)

#### 3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). Вывести топ-5 стран.

In [17]:
bookings.query('is_canceled == 0').country.value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
ASM        1
MRT        1
BWA        1
PLW        1
NCL        1
Name: country, Length: 165, dtype: int64

#### 4. На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel?

In [21]:
bookings.groupby('hotel', as_index=False).agg({'stays_total_nights':'mean'})\
        .sort_values('stays_total_nights', ascending=False)\
        .round(2)

          hotel  stays_total_nights
1  Resort Hotel                4.32
0    City Hotel                2.98

#### 5.Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [25]:
bookings.query('reserved_room_type != assigned_room_type').shape

(14917, 21)

#### 6.Анализ даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [30]:
bookings.groupby(['arrival_date_year', 'arrival_date_month'], as_index=False)\
        .agg({'is_canceled':'count'})\
        .sort_values('is_canceled', ascending=False).head()

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         6313
16               2016            October         6203
18               2017              April         5661
23               2017               June         5647
14               2016                May         5478

In [31]:
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

Сгрупировать данные по годам, а затем проверить, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [36]:
bookings.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().groupby(['arrival_date_year']).nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64

#### 7.Посмотреть на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [37]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

#### 8.Создать колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [38]:
bookings['total_kids'] = bookings.children + bookings.babies

In [40]:
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

#### 9. Churn rate, как процент клиентов, которые отменили бронирование.  Зависимость коэффициента оттока от наличия детей.

In [41]:
bookings['has_kids'] = bookings.total_kids >= 1

In [42]:
# группируемся по нужному полю, для каждой группы берем колонку is_canceled 
# используем value_counts с параметром normalize=True, чтобы показали долю в %
rates = bookings.groupby('has_kids')['is_canceled'].value_counts(normalize=True)

In [43]:
# округляем и показываем результат
round(rates * 100, 2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.08
          1              34.92
Name: is_canceled, dtype: float64

In [47]:
#альтернативное решение
churn_rate = (bookings.groupby('has_kids').is_canceled.sum()/ bookings.has_kids.value_counts()*100).round(2)
churn_rate

has_kids
False    37.22
True     34.92
dtype: float64