In [2]:
import pandas as pd
import numpy as np

#### 1. Считаем данные из Google Sheets, которые находятся по ссылке при помощи библиотеки requests. Посчитаем процент мужчин среди всех посетителей сайта.

https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv - ссылка

переведем данные из реквеста в пандас

In [17]:
from io import BytesIO
import requests


req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [5]:
df['percent'] = (df.users / df.users.sum() * 100).round(0)
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

#### 2. Скачаем файл с данными посещаемости сайта Яндекс.Метрика. При помощи функции np.where создадим серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях.

In [3]:
df1= pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-b-dzhumaeva-37/project_6_python/7_browser.csv')

In [4]:
df1.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [5]:
chrome_robots = pd.Series(np.where((df1.user_type == 'Robots') & (df1.browser.str.contains('Chrome')), 1, 0))

In [6]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

#### 3. Работаем с датасетом с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислим количество строк без пропусков в колонке click_type.

In [7]:
df2 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-b-dzhumaeva-37/project_6_python/sample_ads.csv')

In [8]:
df2.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [11]:
df2.click_type.notna().sum()

11

In [10]:
not_nan_count = df2.click_type.notna().sum()
not_nan_count

11

#### 4. В списке lst находятся различные элементы. Создадим список new_list и сделаем следующее:

* при помощи конструкции try except и цикла попробуем преобразовать каждое значение в листе в int
* добавим преобразованное значение в список new_list

In [13]:
lst = [0, 22.03, -0.5, 89.9, 50, True ]

In [14]:
new_list = []
for i in lst:
    try: 
        x = int(i)
        new_list.append(x)
    except:
        continue

In [15]:
new_list

[0, 22, 0, 89, 50, 1]

#### 5.  Воспользуемся Telegram API. Отправим себе в личку послание.

In [ ]:
https://api.telegram.org/bot5873578204:AAExG3XRLX2d6f3NSaGprLL8HQk2TlxnkHY/getUpdates

In [ ]:
792378796

In [18]:
from urllib.parse import urlencode


token = '5873578204:AAExG3XRLX2d6f3NSaGprLL8HQk2TlxnkHY'
chat_id = 734460306  # chat id

message = 'test'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)